:root {
  --green-theme: #00c800;
  --blue-theme: #0fa4f5;
  --red-theme: #f52525;
  --orange-theme: #d96200;
}
.green-bg {
  background: var(--green-theme);
}
.blue-bg {
  background: var(--blue-theme);
}
.red-bg {
  background: var(--red-theme);
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.container {
  width: 50%;
  margin: 50px auto;
  min-width: 450px;
}
p {
  font-size: 18px;
}

/* NAVIGATION BAR */
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid var(--orange-theme);
}
#title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  margin-left: 50px;
  color: var(--orange-theme);
}
#links {
  list-style: none;
}
#links li {
  display: inline;
  margin-right: 50px;
}
#links a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  transition: color 0.25s;
}
#links a:hover {
  color: var(--orange-theme);
}
#links a:active {
  color: #a6500a;
}

.top-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
#button-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

/* MENU BUTTONS */
#button-bar {
  gap: 10px;
}
.menu-button {
  font-size: 1.2rem;
  padding: 5px 8px;
  color: #000000;
  font-weight: bold;
  border: 1.5px solid #1e1e1e;
  transition: filter 0.25s, border 0.1s;
  border-radius: 5px;
  cursor: pointer;
}
.menu-button:hover {
  filter: brightness(105%);
}
.menu-button:active {
  filter: brightness(110%);
}

#total-cost {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 10px 8px;
}

/* EXPENSE ITEMS */
.expense {
  transition: box-shadow 0.3s;
  display: flex;
  align-items: center;
}
.expense:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.expense-grid {
  display: grid;
  grid-template-columns: 16fr 8fr;
  gap: 5px;

  align-items: center;

  padding: 8px;
  flex-grow: 1;
}
.cost,
.date {
  justify-self: end;
}
.expense-grid > h2,
.expense-grid > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fetching-overlay,
.error-overlay {
  text-align: center;
}

/* CREATE PAGE */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > input {
  font-size: inherit;
  font-family: inherit;
  width: 50%;
  padding: 0.5ch 1ch;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.expense-link {
  text-decoration: none;
  color: inherit;
}

.expense-information {
  margin-bottom: 20px;
}