.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
p {
  font-size: 18px;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #d96200;
}
#title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  margin-left: 50px;
  color: #d96200;
}
#links {
  list-style: none;
}
#links li {
  display: inline;
  margin-right: 50px;
}
#links a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  transition: color 0.25s;
}
#links a:hover {
  color: #d96200;
}
#links a:active {
  color: #a6500a;
}

.container {
  width: 50%;
  margin: 50px auto;
}

.top-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 50px;
}

#button-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.menu-button {
  font-size: 1.2rem;
  padding: 5px 8px;
  margin-left: 15px;
  color: #000000;
  font-weight: bold;
  border: 1.5px solid #1e1e1e;
  transition: background 0.25s, border 0.1s;
  border-radius: 5px;
}
.menu-button:active {
  border: 1.5px solid #646464;
}

#create-button {
  background: #00c800;
}
#create-button:hover {
  background: #00dc00;
}

#update-button {
  background: #0082c8;
}
#update-button:hover {
  background: #0096dc;
}

#delete-button {
  background: #c80000;
}
#delete-button:hover {
  background: #dc0000;
}

#total-cost {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 10px 8px;
}

.expense {
  display: grid;
  grid-template-columns: 1fr 16fr 8fr;
  gap: 5px;

  align-items: center;

  margin-bottom: 25px;
  padding: 8px;

  transition: box-shadow 0.3s;
}
.expense:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.select-button {
  grid-row: span 2;
}

.cost,
.date {
  justify-self: end;
}

.fetching-overlay,
.error-overlay {
  text-align: center;
}
