.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}
#title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  margin-left: 50px;
  color: #d96200;
}
#links {
  list-style: none;
}
#links li {
  display: inline;
  margin-right: 50px;
}
#links a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  transition: color 0.25s;
}
#links a:hover {
  color: #d96200;
}
#links a:active {
  color: #a6500a;
}

.container {
  width: 65%;
  margin: 50px auto;
  border: 2px solid blue;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

#button-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

.menu-button {
  font-size: 1.2rem;
  padding: 5px 8px;
  margin-left: 15px;
  color: #000000;
  font-weight: bold;
  border: 1.5px solid #1e1e1e;
  transition: background 0.25s, border 0.1s;
  border-radius: 5px;
}
.menu-button:active {
  border: 1.5px solid #646464;
}

#create-button {
  background: #00c800;
}
#create-button:hover {
  background: #00dc00;
}

#update-button {
  background: #0082c8;
}
#update-button:hover {
  background: #0096dc;
}

#delete-button {
  background: #c80000;
}
#delete-button:hover {
  background: #dc0000;
}
